.App {
  text-align: center;
}

.no-select {
  user-select: none;
}

.timer-btn {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  box-shadow: 0 9px #999;
  color: white;
  font-size: large;

  &.timer-start {
    background-color: rgb(0, 157, 0);
  }

  &.timer-stop {
    background-color: rgb(208, 0, 0);
  }

  &.timer-start:hover {
    background-color: darkgreen;
  }

  &.timer-stop:hover {
    background-color: darkred;
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);

    &.timer-start {
      background-color: darkgreen;
    }

    &.timer-stop {
      background-color: darkred;
    }
  }
}