.App {
  text-align: center;
}

.timer-btn {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  background-color: green;
  box-shadow: 0 9px #999;
  color: white;
  font-size: large;

  &:hover {
    background-color: darkgreen;
  }

  &:active {
    background-color: darkgreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}